@import url("https://fonts.googleapis.com/css?family=Gentium+Book+Basic");
@font-face {
    font-family: "Tom's New Roman";
    font-weight: 400;
    font-style: normal;
    src: url("/tomnr.woff") format("woff");
}
header, footer {
    margin: 0 auto;
    max-width: 640px;
    font-family: "Tom's New Roman", serif;
    font-size: 18pt;
    text-align: center;
    border-top: 1px solid rgba(0, 0, 0, 0.1);
    border-bottom:1px solid rgba(0, 0, 0, 0.1);
}
header {
    border-top: none;
}
footer {
    border-bottom: none;
}
header a, header a:visited, header a:active, header a:hover {
    color: #222;
    text-decoration: none;
}
h1 small {
    display: block;
    font-size: 50%;
}
.title ul {
    list-style-type: none;
    text-align: center;
    margin: 0;
    padding: 0;
}
.title ul li {
    margin: 1rem 0;
    padding: 0;
}
.title ul li p:first-of-type {
    font-family: "Tom's New Roman", serif;
    font-size: 20pt;
    text-align: center;
}
.title ul li p {
    text-indent: 0;
    text-align: justify;
}
.title blockquote:first-of-type {
    font-style: italic;
}
.order {
    width: 100%;
    text-align: center;
    margin: 0 auto;
}
.order a {
    display: inline-block;
    margin: 0.5rem;
}
ul.pagination {
    margin: 1rem 0;
    padding: 0;
    list-style-type: none;
    font-family: "Tom's New Roman", serif;
    text-align: center;
}
li.page-item {
    display: inline-block;
    margin: 0;
    padding: 0;
}
li.page-item a {
    padding: 0 0.5rem;
    margin: 0;
}
hr {
    border: none;
    width: 3em;
    margin: 1em auto;
}
hr::before {
    content: 'ยง';
    display: block;
    text-align: center; 
}
main {
    margin: 0 auto;
    max-width: 640px;
    font-family: "Gentium Book Basic", serif;
    font-size: 18pt;
    text-align: justify;
    color: #222;
    line-height: 1.5;
}
main p {
    margin: 0;
    text-indent: 2em;
    hyphens: auto;
    -webkit-hyphens: auto;
}
main p:first-of-type {
    text-indent: 0;
}
main blockquote {
    margin: 1rem 0;
    padding: 0 0 0 2rem;
    border-left: 3px solid #ddd;
}
main blockquote p {
    text-indent: 0;
}
main blockquote p + p {
    margin-top: 1rem;
}
main blockquote + p {
    text-indent: 0;
}
.footnotes {
    font-size: 80%;
}
.footnotes ol {
    padding-left: 1.5rem;
}
.footnotes hr::before {
    content: '';
}
.footnotes hr {
    margin-left: 0;
    width: 25%;
    border-top: 1px solid #222;
}
.footnotes p {
    text-indent: 0;
}
a {
    color: #262;
}
a:visited {
    color: #266;
}
.title img {
    max-width: 100%;
    margin: 0 auto;
    display: block;
}
img {
    max-width: 100%;
}
h1, h2 {
    font-family: "Tom's New Roman", sans-serif;
    text-align: center;
}

@media only screen and (max-width: 640px) {
    body {
        padding: 0;
        margin: 0;
    }
    main, header, footer {
        width: 100%;
        padding: 0 2rem;
    }
    .footnotes hr {
        width: 50%;
    }
}
