@import url("https://fonts.googleapis.com/css?family=Gentium+Book+Basic");
@font-face {
    font-family: "Tom's New Roman";
    font-weight: 400;
    font-style: normal;
    src: url("/tomnr.woff") format("woff");
}
header, footer {
    margin: 0 auto;
    max-width: 640px;
    font-family: "Tom's New Roman", serif;
    font-size: 18pt;
    text-align: center;
    border-top: 1px solid rgba(0, 0, 0, 0.1);
    border-bottom:1px solid rgba(0, 0, 0, 0.1);
}
h1 small {
    display: block;
    font-size: 50%;
}
ul {
    list-style-type: none;
    margin: 1rem 0;
    padding: 0;
}
ul li {
    margin: 1rem;
    padding: 0;
}
.title ul {
    list-style-type: none;
    font-family: "Tom's New Roman", serif;
    text-align: center;
}
ul.pagination {
    list-style-type: none;
    font-family: "Tom's New Roman", serif;
    text-align: center;
}
li.page-item {
    display: inline-block;
    margin: 0 0.5rem;
    padding: 0;
}
hr {
    border: none;
    width: 3em;
    margin: 1em auto;
}
hr::before {
    content: '§';
    display: block;
    text-align: center; 
}
main {
    margin: 0 auto;
    max-width: 640px;
    font-family: "Gentium Book Basic", serif;
    font-size: 18pt;
    text-align: justify;
}
.title img {
    max-width: 50%;
    margin: 0 auto;
    display: block;
}
h1, h2 {
    font-family: "Tom's New Roman", sans-serif;
    text-align: center;
}
